*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.feliratok {
    font-family: 'Merriweather', serif;
}

.p-2 {
    padding-block: 20px;
}

.font--sm {
    font-size: 16px;
}

.font--md {
    font-size: 18px;
}

.font--lg {
    font-size: 25px;
}

blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '”';
    rotate: 180deg;
    height: 90px;
    font-size: 140px;
}

.quote {
    display: flex;
    min-height: 170px;
    background-color: #222;
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

blockquote {
    max-width: 27ch;
}

body {
    max-width: 1278px;
    margin-inline: auto;

}

h2 {
    font-size: 25px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

h3 {
    line-height: 1.2;
    font-weight: 400;
}

h4 {
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;

}


main {
    max-width: 850px;
    margin-inline: auto;
}

header {
    border-top: 5px solid black;
    background: url(first-website-header.png);
    background-size: 100% 100%;
    height: 400px;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 40px;

}

.fejlec_idezetek {
    font-family: 'Abril Fatface', serif;
    color: #222 grey;
    position: relative;
}

.bekezdesek {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: 300;

}

.bekezdesek p {
    line-height: 1.4;
}

.bekezdesek span {
    font-weight: 500;
}

.bekezdesek li {
    list-style-type: square;
    line-height: 1.5;
}

.bekezdesek ul {
    padding: 10px 40px;
    margin-block: 15px;
}

hr {
    border: 2px solid black;
    margin-block: 10px 30px;
}

.anakin_skywalker {
    font-size: 35px;
    opacity: .7;
    font-weight: 500;
}

.anakin_skywalker span {
    font-size: 70px;
    line-height: 60px;
}


.section {
    padding: 40px 60px;
}